<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madd.mobileapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileApp">
        <activity android:name=".Payment" android:parentActivityName=".Shipping">

        </activity>
        <activity
            android:name=".Orderid"
            android:parentActivityName=".Cart">

        </activity>
        <activity
            android:name=".Editcart"
            android:parentActivityName=".Orderid">

        </activity>
        <activity
            android:name=".Cart"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".Shipping"
            android:parentActivityName=".Editcart">

        </activity>
        <activity android:name=".FirstPage"
            android:theme="@style/Theme.MobileApp.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MobileApp">

        </activity>
    </application>

</manifest>